@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  min-height: 100vh;
  
}
body {
  @apply py-3;
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
  background-attachment: fixed;
}
